.user-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: [column1-start] 50%,
    [column1-end column2-start] 50% [column2-end];
  grid-template-rows: [row1-start] 50% [row1-end row2-start] 50% [row2-end];
}

.user-container-child1 {
  grid-column: 1/2;
  grid-row: row1-start / row1-end;
}

.user-container-child2 {
  grid-column: column2-start/column2-end;
  grid-row: row1-start / row1-end;
  background-color: #198754;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container-child3 {
  grid-column: column2-start/column2-end;
  grid-row: row2-start / row2-end;
  background-color: #198754;
  border-radius: 10px;
  text-align: center;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-bank {
  margin: 0;
  width: 100%;
}

.user-winnings {
  margin: 0;
}

.user-bet-message {
  margin-top: 15px;
  text-align: center;
}
